*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Signika, sans-serif;
}
body{
    background-color: #c9d3a7;
}
header{
    padding: 10px 20px 0 20px;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 150px;
    max-height: 250px;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #75b0b1 0%, #6d79eb 48%, #653bfa 100%);

}

.header{
    text-align: center;
}
.header h2{
    font-size: 50px;
}
.header h3{
    font-size: 30px
}
.section1{
    margin: 0 auto;
    width: 90%;
    height: 600px;
    text-align: center;
    
}
.section1 .cover{
    width: 100%;
    height: 100%;
    background-image: url(../imagens/fundo-section1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.form{
    margin-top: 15px;
    width: 400px;
    height: 85%;
    float: right;
    margin-right: 50px;
}
.form h2{
    padding: 10px;
    font-size: 30px;
    background-color: rgba(100, 148, 237, 0.486);
}
form{
    background-color: rgba(127, 255, 212, 0.507);
}
form input[type=text]{
    width: 80%;
    height: 65px;
    line-height: 65px;
    border-radius:10px;
    outline: none;
    margin-top: 10px;
}
form p{
    margin-top: 10px;
    font-weight: 700;
}
textarea{
    width: 80%;
    height: 65px;
    line-height: 65px;
    border-radius:10px;
    outline: none;
    margin-top: 10px;
}
form input[type=submit]{
    width: 40%;
    height: 40px;
    line-height: 40px;
    background-color: #e9004c;
    background-image: linear-gradient(160deg, #e9004c 0%, #000000 74%);
    color: white;
    border-radius:10px;
    outline: none;
    margin-top: 10px;
    margin-bottom: 10px;
}
form input[type=submit]:hover{
    animation: enviar 1.5s linear;
}
.chamada{
    display: flex;
    align-items: center;
    width: 100%;
    height: 200px;
    font-size: 70px;
    color: black;
    text-shadow: 1px 2px 3px #ff0303;
    justify-content: center;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #0097ff 100%);

}
.mosaico{
    
    padding: 0 2%;
    width: 100%;
    display: flex;
}
.mosaico p{
    display: flex;
    order: 1;
    font-size: 30px;
    padding: 0 30px;
    align-items: center;
    justify-content: center;
    width: 35%;
    background-color: #c9e661;
}
.mosaico .foto1{
    width: 65%;
    order: 2;
    padding-top: 40%;
    background-image: url(../imagens/shopping.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.mosaico .foto2{
    order: 2;
    width: 65%;
    padding-top: 40%;
    background-image: url(../imagens/sg-11134201-22120-t0z91va9fvkv8d.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.mosaico .foto3{
    order: 2;
    width: 65%;
    padding-top: 40%;
    background-image: url(../imagens/shopping\ \(1\).webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.mosaico .foto4{
    order: 2;
    width: 65%;
    padding-top: 40%;
    background-image: url(../imagens/shopping\ \(2\).webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
footer {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: darkkhaki;
    align-items: center;
    justify-content: center;
}
@keyframes enviar{
    0%{
        padding-left: 80px;
    }
    25%{
        padding: 0 ;
    }
    50%{
        padding-right: 80px;
    }
    100%{
        padding: 0 ;
    }
}
form input[type=radio]{
    cursor: pointer;
    margin-top: 10px;
}
@media screen and (max-width: 768px) {
    .logo1{
        float: left;
        margin-left:20px ;
    }
    .logo1 img{
        width: 50%;
        max-width: 150px;
    }
    .logo2{
        float: right;
        margin-right: 20px;
    }
    .logo2 img{
        width: 55%;
        max-width: 150px;
    }
    .header{
        text-align: center;
    }
    .header h2{
        font-size: 3vh;
    }
    .header h3{
        padding: 0 10%;
        font-size: 2vh;
    }
    .section1{
        margin: 0 auto;
        width: 90%;
        height: 600px;
        text-align: center;
    }
    .form{
        width: 100%;
        max-width: 400px;
        height: 100%;
        float: none;
        padding-top: 40px;
        margin: 0 auto;
    }
    .chamada{
        display: flex;
        align-items: center;
        width: 100%;
        height: 150px;
        font-size: 3vh;
        text-align: center;
        color: black;
        text-shadow: 1px 2px 3px #ff0303;
        justify-content: center;
        background-color: #00DBDE;
        background-image: linear-gradient(90deg, #00DBDE 0%, #0097ff 100%);
    }
    .mosaico{
    
        padding: 0 2%;
        width: 100%;
        display: inline-block;
    }
    .mosaico p{
        font-size: 2vh;
        padding: 20px 30px;
        display: flex;
        align-items: center;
        width: 100%;
        background-color: #c9e661;
    }
    .mosaico .foto1{
        width: 100%;
        padding-top: 70%;
        background-image: url(../imagens/shopping.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }
    .mosaico .foto2{
        width: 100%;
        padding-top: 70%;
        background-image: url(../imagens/sg-11134201-22120-t0z91va9fvkv8d.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }
    .mosaico .foto3{
        width: 100%;
        padding-top: 70%;
        background-image: url(../imagens/shopping\ \(1\).webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .mosaico .foto4{
        width: 100%;
        padding-top: 70%; 
        background-image: url(../imagens/shopping\ \(2\).webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }
}